<%- include("header") -%>

<h2>This is the about page</h2>

<p>This project was created as part of additional learning on my part, through the Udemy "The 2020 Complete Web Development Bootcamp" course.</p>

<%- include("footer") -%>
